body{
  background:#181818!important;
}

.main-content{
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.pages{
  position: relative;
  margin-left: 75px;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
 

@media (max-width: 768px) {
  .col-2 {
    flex: 0 !important;
    max-width: 0 !important;
  }
}

@media (max-width: 425px) {
  .pages {
      margin-left: 0px;
  }
 
}